{% extends "templates/web.html" %}

{% block title %} Drawing List {% endblock %}

{% block page_content %}

{% if frappe.session.user == 'Guest' %}
    {{ frappe.throw(_("Log in to access this page."), frappe.PermissionError) }}
{% else %}
    <div class="welcome-message">
        <h2 id="dynamic-greeting">Welcome, {{ supplier or "Valued Supplier" }}</h2>
    </div>

    <div class="main-div">
        <table id='shared-file-list'>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item Code</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">File</th>
                    <th scope="col">Validity</th>
                    <th scope="col" class="hide-column">Ref ID</th> <!-- Hidden Column -->
                </tr>
            </thead>
            <tbody id="shared-file-detail"></tbody>
            <tfoot>
                <tr>
                    <td colspan="6">0 of 0</td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <button id="load-more">Load More</button>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block style %}

<style>
    .hide-column {
        display: none;
    }
    .welcome-message {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        font-size: 24px;
    }
    .main-div {
        width: auto;
        margin: auto;
    }
    .main-div .text-center {
        text-align: center;
    }
    table {
        margin-bottom: 20px;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        width: 100%;
    }
    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    table tr:hover {
        background-color: #ddd;
    }
    th {
        background-color: #f5f5f5;
    }
    #shared-file-list th {
        width: 200px;
    }
    #shared-file-list th:nth-child(3),
    #shared-file-list th:nth-child(4) {
        width: 150px;
    }
    th, td {
        border: 1px solid #e0e0e0;
        text-align: left;
        padding: 12px;
    }
    tfoot {
        background-color: #f5f5f5;
    }
    #load-more {
        background-color: #241c1c;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s;
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }
    #load-more:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
    .btn-style {
        text-decoration: none;
        color: #fff;
        background-color: #241c1c;
        padding: 3px 15px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        margin: 5px;
        cursor: pointer;
        border: 1px solid transparent;
    }
    .btn-style:hover {
        background-color: #000000;
        color: #ffffff;
    }
    /* Responsive adjustments for screens smaller than 600px */
    @media (max-width: 600px) {
        .main-div {
            padding: 0 10px;
        }

        /* Set table layout to full width and remove borders for mobile */
        table {
            border: none;
            margin-bottom: 0;
        }

        th, td {
            display: block;
            width: 100%;
            box-sizing: border-box; /* Include padding in the width */
        }

        /* Hide the table header on small screens */
        thead {
            display: none;
        }

        tr {
            margin-bottom: 10px;
            border-bottom: 1px solid #e0e0e0; /* Add separation between rows */
        }

        /* Style the table data for mobile */
        td {
            text-align: left; /* Align text to the left */
            padding: 10px; /* Add padding for spacing */
        }

        /* Position the data label appropriately */
        td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            margin-right: 10px; /* Space between label and content */
        }

        /* Ensure the 'View' button takes up the full width */
        .btn-style {
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin: 10px 0; /* Add some margin around the button */
        }

        .hide-column {
            display: none; /* Keep hidden columns hidden */
        }

        /* Adjust the 'Load More' button style for mobile */
        #load-more {
            width: 100%; /* Full width */
            margin: 10px 0;
        }
        /* Alternate row background colors for better visual separation */
        tr:nth-child(odd) {
            background-color: #D3D3D3; /* Light gray for odd rows */
        }

        tr:nth-child(even) {
            background-color: #ffffff; /* White for even rows */
        }

        /* Add borders to rows for clearer separation */
        tr {
            border-bottom: 2px solid #e0e0e0;
        }

        /* No border for the last row to avoid double borders */
        tr:last-child {
            border-bottom: none;
        }
    }

</style>

{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const now = new Date();
        const hour = now.getHours();
        let greeting;
        if (hour < 12) greeting = 'Good Morning';
        else if (hour < 18) greeting = 'Good Afternoon';
        else greeting = 'Good Evening';
        
        document.getElementById('dynamic-greeting').textContent = `${greeting}, {{ supplier or 'Valued Supplier' }}`;

        const fileDetails = JSON.parse('{{ file_permission_details | tojson | safe }}');
        const tableBody = document.getElementById('shared-file-detail');
        const loadMoreButton = document.getElementById('load-more');
        const footer = document.querySelector('tfoot td');
        let currentIndex = 0;
        const itemsPerPage = 10;

        function createLinkCell(text, href) {
            const link = document.createElement('a');
            link.href = href;
            link.textContent = text;
            link.className = 'btn-style';

            const cell = document.createElement('td');
            cell.appendChild(link);
            return cell;
        }

        function createTextCell(text, style = {}, label = '') {
            const cell = document.createElement('td');
            cell.innerHTML = text;
            Object.assign(cell.style, style);
            if (label !== '') {
                cell.setAttribute('data-label', label);
            }
            return cell;
        }

        function createViewText(item) {
            if (item.date_based_sharing && item.view_based_sharing) {
                const viewsLeft = item.views_allowed - item.views;
                return `${viewsLeft} Views <br>Till: ${item.set_expiration_date}`;
            } else if (item.date_based_sharing == 1 && item.view_based_sharing == 0) {
                return `Unlimited Views<br>Till: ${item.set_expiration_date}`
            } else if (item.date_based_sharing == 0 && item.view_based_sharing == 1) {
                return `${item.views_allowed - item.views} Views Left`;
            }
            return 'Unlimited';
        }

        function createTableRow(item) {
            const row = document.createElement('tr');
            const cellValues = [
                item.parent ?? 'N/A', // ID column moved to first
                item.c_file_reference ?? 'N/A', // Item Code
                item.item_name ?? 'N/A', // Item Name
                'View', // File
                createViewText(item), // Validity
                item.c_file_reference ?? 'N/A' // Ref ID (Hidden Column)
            ];

            cellValues.forEach((cellValue, index) => {
                let cell;
                if (index === 3) { // Adjusted index for 'View' link
                    cell = createLinkCell('View', `/file_viewer?query=${encodeURIComponent(item.name)}`);
                } else if (index === 4) { // Adjusted index for 'Validity'
                    cell = createTextCell(cellValue, { fontSize: '14px' }, 'Validity');
                } else {
                    const labels = ['ID', 'Item Code', 'Item Name', '', 'Validity', 'Ref ID'];
                    cell = createTextCell(cellValue, {}, labels[index]);
                }
                if (index === 5) cell.classList.add('hide-column'); // Adjusted index for hidden column
                row.appendChild(cell);
            });

            return row;
        }




        function loadItems() {
            const endIndex = Math.min(currentIndex + itemsPerPage, fileDetails.length);
            for (let i = currentIndex; i < endIndex; i++) {
                tableBody.appendChild(createTableRow(fileDetails[i]));
            }
            currentIndex = endIndex;
            updateFooterAndButton();
        }

        function updateFooterAndButton() {
            footer.textContent = `${currentIndex} of ${fileDetails.length}`;
            loadMoreButton.style.display = currentIndex < fileDetails.length ? 'block' : 'none';
        }

        loadMoreButton.addEventListener('click', loadItems);

        loadItems(); // Initial load
    });
</script>

{% endblock %}
